@media only screen and (max-width: 1160px) {
    .home {
        .home_left {
            padding: 40px 40px 60px 40px;
            border-radius: 20px;

            img {
                width: 446px;
                height: 257px;
                right: -185px;
            }

            .home_text  {
                h3 {
                    font-size: 30px;
                    line-height: 36px;
                    margin-bottom: 40px;
                }

                button {
                    width: 152px;
                    height: 50px;
                    font-size: 14px;
                }
            }

        }

        .home_right {
            border-radius: 20px;
            padding: 20px;
            gap: 30px;
            flex-direction: row;
        }

        .home_in {
            flex-direction: column;
        }

        .home_right_card {
            display: flex;
            align-items: center;
            gap: 5px;

            p {
                margin-top: 0;
                font-size: 14px;
                line-height: 17px;
            }
        }

        .card_two {
            flex: 2;
        }

        .card_one {
            flex: 1;
        }
    }

    .services {
        margin-bottom: 80px;
        h3 {
            font-size: 30px;
            line-height: 36px;
        }

        .services_in {
            flex-direction: column;
        }

        .services_cards {
            .services_card {
                padding: 20px;
                p,
                a {
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }

        .big_card {
            .serives_card_text {
                padding: 20px 20px 0 20px;
            }
        }
    }
}

@media only screen and (max-width: 993px) {
    .main_container {
        padding: 0 60px;
    }

    header {
        padding: 13px 0;

        .main_container {
            justify-content: space-between;
        }

        .logo {
            height: 19px;
            width: 141px;

            img {
                width: 100%;
            }
        }

        .nav_link {
            margin-left: auto;
            gap: 25px;

            a {
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
            }
        }

        .header_contact {
            margin-left: 0;

            a {
                white-space: nowrap;
                font-size: 14px;
                font-weight: 700;
                line-height: 17px;
            }

            span {
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
            }
        }
    }

    .contact {

        iframe {
            height: 400px;
        }

        .contact_block {
            width: 265px;
            padding: 30px;
            border-radius: 20px;

            h6 {
                font-size: 30px;
                line-height: 36px;
                margin-bottom: 20px;
            }

            ul {
                gap: 15px;
            }

            address,
            a,
            p {
                font-size: 14px;
                line-height: 17px;
            }

            .sign_up {
                padding: 16px 46px;
                font-size: 14px;
                line-height: 17px;
            }
        }
    }

    .order_service {
        margin: 80px 0;
        padding: 45px 0;
        background: rgb(209, 38, 30);

        .order_service_in {
            padding: 0;
            background: transparent;
        }

        h6 {
            font-size: 30px;
            max-width: 430px;
            margin: 0 auto 10px auto;
            line-height: 36px;
        }

        p {
            font-size: 16px;
            line-height: 19px;
        }

        form {
            gap: 20px;


            input,
            button {
                height: 40px;
                font-size: 14px;
                line-height: 17px;
            }
        }

        span {
            font-size: 12px;
            line-height: 14px;
        }
    }

    .partner {
        h6 {
            font-size: 30px;
            line-height: 36px;
        }
    }

    .reviews {
        h6 {
            font-size: 30px;
            line-height: 36px;
        }
    }

    .about {
        padding: 80px 0 ;
        margin: 80px 0;

        .about_top {
            margin-bottom: 70px;

            h3 {
                display: block;
            }

            .about_top_in {
                gap: 20px;
            }
        }

        .about_top_right {

            h6 {
                display: none;
            }

            p {
                font-size: 14px;
                line-height: 17px;
            }

            .about_text_end {
                display: none;
            }
        }

        .about_bottom_in {
            align-items: start;
        }

        .about_bottom {
            h3 {
                font-size: 30px;
                line-height: 36px;
                margin-bottom: 30px;
            }

            .about_bottom_in {
                flex-direction: column;
            }

            .about_bottom_right {
                .about_bottom_img_desktop {
                    display: none;
                }

                .about_bottom_img_media {
                    display: block;
                }

                button {
                    margin: 0 auto;
                    font-size: 16px;
                    height: 50px;
                    width: 260px;
                }
            }

            .about_card {
                padding: 20px;

                img {
                    height: 110px;
                }

                h6 {
                    font-size: 16px;
                    line-height: 19px;
                    margin-bottom: 10px;
                }

                p {
                    max-width: 195px;
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
    }
    
    .work_cost {

        h6 {
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 30px;
        }

        .work_cost_in {
            li {
                padding: 10px;
            }

            p {
                width: 200px;
                font-size: 14px;
                line-height: 17px;
            }

            del {
                width: 77px;
                font-size: 14px;
                line-height: 17px;
            }

            .cost {
                gap: 50px;  
            }

            a {
                font-size: 14px;
                line-height: 17px;
            }

            h6 {
                width: 77px;
                margin-right: 50px;
                font-size: 14px;
                line-height: 17px;
            }
        }

        .work_btn {
            margin: 20px auto 0 auto;
            height: 50px;
            width: 195px;
            font-size: 16px;
        }
    }

    .home_under {
        margin-bottom: 80px;
        .home_under_card__left,
        .home_under_card__right {
            padding: 20px;
            h6 {
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 10px;
            }
            
            ul {
                gap: 10px;
                max-width: 178px;

                li {
                    font-size: 14px;
                    line-height: 17px;
                }
            }

            img {
                height: 100px;
                right: 0;
                bottom: 10px;
            }
        }
    }

    .engines_work {

        h3 {
            margin: 80px 0 30px 0;
            font-size: 30px;
            line-height: 36px;
            max-width: 448px;
        }

        .engines_card {
            border-radius: 20px;
            height: 318px;
            padding: 20px;

            h6 {
                font-size: 24px;
                line-height: 29px;
                margin: 0 0 20px 0;
            }

            .engines_card_text {
                margin-right: 150px;
            }

            .title_30 {
                margin: 0 0 10px 0;
            }

            span {
                font-size: 14px;
                line-height: 17px;
            }

            .brands {
                gap: 10px;
            }

            a {
                font-size: 14px;
                line-height: 17px;
            }

            img {
                height: 90%;
                right: -185px;
            }
        }
    }

    footer {
        padding: 38px 0;

        .main_container {
            justify-content: space-between;
        }

        .footer_logo {
            width: 140px;
            height: 19px;
        }

        .footer_link {
            margin-left: 0;
            flex-direction: column;
            gap: 7px;

            a {
                font-size: 14px;
                line-height: 17px;
            }
        }

        .footer_contact {
            margin-left: 0;
            gap: 30px;

            a {
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 3px;
            }

            span {
                font-size: 12px;
                line-height: 14px;
            }

            address {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
}

@media only screen and (max-width: 735px) {
    .home {

        .home_circle {
            width: 300px;
            height: 300px;
            top: 0;
            right: 0;
        }

        .home_left {
            width: 100%;
            padding: 40px 40px 0 40px;
            .home_text {
                margin-bottom: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                h3 {
                    margin: 0 auto 20px auto;
                    max-width: 382px;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 29px;
                    text-align: center;
                }
    
                .sign_up {
                    margin: 0 auto;
                    width: 152px;
                    height: 50px;
                    font-size: 14px;
                }
            }
            img {
                position: relative;
                width: 390px;
                right: -58px;
                height: auto;
            }
        }
    }

    .engines_work {
        h3 {
            font-size: 24px;
            line-height: 29px;
            margin: 40px 0 20px 0;
        }

        .engines_card {
            height: 613px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .engines_card_text {
                margin-right: 0;
            }

            a {
                padding: 10px 15px;
            }


            img {
                margin: 0 auto;
                object-fit: contain;
                width: 380px;
                height: 280px;
                position: static;
            }
        }

        .engines-pagination {
            .swiper-pagination-bullet {
                width: 6px;
                height: 6px;
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    .main_container {
        padding: 0 20px;
    }

    .modal {
        padding: 25px;

        h6 {
            font-size: 24px;
            line-height: 29px;
        }

        input,
        button {
            height: 30px;
            border-radius: 20px;
        }

        p {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 10px;
        }

        span {
            font-size: 12px;
        }
    }

    header {
        .nav_link {
            display: none;
        }

        .mobile_menu {
            display: flex;  
        }

        .logo {
            margin-left: 60px;
        }
    }

    .home {
        .main_container {
            max-width: 100%;
            padding: 0;
        }

        .home_circle {
            width: 185px;
            height: 105px;
            top: -17px;
            right: -154px;        
        }

        .home_in {
            gap: 0;
        }

        .home_left {
            border-radius: 0;
        }

        .home_right {
            border-radius: 0;
            gap: 25px;
            padding: 18px 15px;
        }
        .home_right_card {
            flex-direction: column;
            align-items: start;

            img {
                width: 36px;
                height: 36px;
            }
        }
    }

    .home_under {
        margin-bottom: 60px;
        .main_container {
            flex-direction: column;
            gap: 10px;
        }

        .home_under_card__left,
        .home_under_card__right {
            ul {
                margin-right: 100px;
                max-width: 280px;
            }
        }
    }

    .work_cost {

        h6 {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 22px;
        }

        .work_cost_in {
            .cost {
                flex-direction: column;
                align-items: start;
                gap: 0;
            }

            h6 {
                margin-right: 40px;
            }

            p {
                width: 146px;
            }
        }

        .work_btn {
            font-size: 14px;
        }
    }

    .reviews {
        h6 {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 20px;
        }

        .reviewsSwiper {
            overflow: visible;
        }

        .reviews_card {
            padding: 20px;
            h6 {
                height: 38px;
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 10px;
            }

            p {
                -webkit-line-clamp: 9;
                font-size: 14px;
                line-height: 17px;
            }

            a {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }

    .contact {
        margin-top: 60px;

        iframe {
            height: 217px;
        }

        .main_container {
            position: static;
            margin-bottom: 60px;
        }

        .contact_block {
            margin-top: 0;
            border-radius: 0;
            width: 100%;
            padding: 0;
            text-align: center;

            ul {
                margin: 0 auto;
            }
        }
    }

    .order_service {
        margin: 60px 0;
        padding: 40px 0;

        h6 {
            font-size: 24px;
            line-height: 29px;
        }

        p {
            margin-bottom: 10px;
        }

        form {
            flex-direction: column;
            gap: 10px;

            input,
            button {
                flex: auto;
            }

            button {
                display: block;
                height: 40px;
            }
        }
    }

    .partner {
        margin-bottom: 60px;
        h6 {
            font-size: 24px;
            line-height: 29px;
        }
    }

    .about {
        padding: 60px 0;
        margin: 60px 0;

        .about_top {
            margin-bottom: 50px;
            .about_top_in {
                flex-direction: column-reverse;
            }

            .about_bottom_left,
            .about_bottom_right {
                flex: auto;
                width: 100%;
            }
            
            .about_bottom_left {
                img {
                    width: 100%;
                }
            }


            h3 {
                font-size: 24px;
                line-height: 29px;
            }

        }

        .about_bottom {
            h3 {
                font-size: 24px;
                line-height: 29px;
                margin-bottom: 20px;
            }

            .about_bottom_in {
                gap: 10px;
            }

            .about_bottom_left {
                gap: 10px;
                flex-direction: column;

                .about_card {
                    width: 100%;

                    p {
                        max-width: 290px;
                    }
                }
            }
            .about_bottom_right {
                button {
                    font-size: 14px;
                }
            }
        }
    }

    footer {
        padding: 30px 0 57px 0;

        .footer_logo {
            margin: 0 auto;
        }

        .footer_link {
            margin: 0 auto;
        }

        .footer_contact {
            margin-top: 10px;
            width: 100%;
            flex-direction: row;
            align-items: start;
            justify-content: space-between;

            .footer_contact_number {
                order: 2;
            }

            address {
                max-width: 137px;
                text-align: left;
                order: 1;
            }
        }

        .main_container {
            flex-direction: column;
            gap: 30px;
        }
    }
}

@media only screen and (max-width: 430px) {
    header {
        .logo {
            margin-left: 45px;
        }

        .mobile_menu {
            width: 55px;
        }
    }

    .work_cost {
        .work_cost_in {
            h6 {
                margin-right: 15px;
            }
        }
    }
}