@media only screen and (max-width: 993px) {
    .main_container {
        padding: 0 60px;
    }

    header {
        padding: 13px 0;

        .main_container {
            justify-content: space-between;
        }

        .logo {
            height: 19px;
            width: 141px;

            img {
                width: 100%;
            }
        }

        .nav_link {
            margin-left: auto;
            gap: 25px;

            a {
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
            }
        }

        .header_contact {
            margin-left: 0;

            a {
                font-size: 14px;
                font-weight: 700;
                line-height: 17px;
            }

            span {
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    .main_container {
        padding: 0 20px;
    }

    header {
        .nav_link {
            display: none;
        }

        .mobile_menu {
            display: flex;  
        }

        .logo {
            margin-left: 60px;
        }
    }
}