@media only screen and (max-width: 993px) {
    .main_container {
        padding: 0 60px;
    }

    header {
        padding: 13px 0;

        .main_container {
            justify-content: space-between;
        }

        .logo {
            height: 19px;
            width: 141px;

            img {
                width: 100%;
            }
        }

        .nav_link {
            margin-left: auto;
            gap: 25px;

            a {
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
            }
        }

        .header_contact {
            margin-left: 0;

            a {
                font-size: 14px;
                font-weight: 700;
                line-height: 17px;
            }

            span {
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
            }
        }
    }

    .contact {

        iframe {
            height: 400px;
        }

        .contact_block {
            width: 265px;
            padding: 30px;
            border-radius: 20px;

            h6 {
                font-size: 30px;
                line-height: 36px;
                margin-bottom: 20px;
            }

            ul {
                gap: 15px;
            }

            address,
            a,
            p {
                font-size: 14px;
                line-height: 17px;
            }

            .sign_up {
                padding: 16px 46px;
                font-size: 14px;
                line-height: 17px;
            }
        }
    }

    footer {
        padding: 38px 0;

        .main_container {
            justify-content: space-between;
        }

        .footer_logo {
            width: 140px;
            height: 19px;
        }

        .footer_link {
            margin-left: 0;
            flex-direction: column;
            gap: 7px;

            a {
                font-size: 14px;
                line-height: 17px;
            }
        }

        .footer_contact {
            margin-left: 0;
            gap: 30px;

            a {
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 3px;
            }

            span {
                font-size: 12px;
                line-height: 14px;
            }

            address {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    .main_container {
        padding: 0 20px;
    }

    header {
        .nav_link {
            display: none;
        }

        .mobile_menu {
            display: flex;  
        }

        .logo {
            margin-left: 60px;
        }
    }

    .contact {
        margin-top: 60px;

        iframe {
            height: 217px;
        }

        .main_container {
            position: static;
            margin-bottom: 60px;
        }

        .contact_block {
            margin-top: 0;
            border-radius: 0;
            width: 100%;
            padding: 0;
            text-align: center;

            ul {
                margin: 0 auto;
            }
        }
    }

    footer {
        padding: 30px 0 57px 0;

        .footer_logo {
            margin: 0 auto;
        }

        .footer_link {
            margin: 0 auto;
        }

        .footer_contact {
            margin-top: 10px;
            width: 100%;
            flex-direction: row;
            align-items: start;
            justify-content: space-between;

            .footer_contact_number {
                order: 2;
            }

            address {
                max-width: 137px;
                text-align: left;
                order: 1;
            }
        }

        .main_container {
            flex-direction: column;
            gap: 30px;
        }
    }
}