@font-face {
    font-family: 'Noi Grotesk Fix';
    src: url(../fonts/Grotesk/NoiGroteskFix-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Noi Grotesk Fix';
    src: url(../fonts/Grotesk/NoiGroteskFix-Regular.ttf);
    font-weight: 400;
}
// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .2s ease;
}
// mixin

// fonts
$font-Roboto: "Roboto", sans-serif;
$font-Grotesk: "Noi Grotesk Fix", sans-serif;
// fonts

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

a:hover {
    color: inherit;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-Grotesk;
    font-style: normal;
}

input {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.main_container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.modal {
    display: none;
    max-width: 407px;
    z-index: 5;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 40px;
    background: rgb(255, 255, 255);

    .modal_close {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    h6 {
        color: rgb(28, 33, 44);
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        text-align: center;
        margin-bottom: 10px;
    }

    p {
        color: rgb(28, 33, 44);
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input,
        button {
            height: 40px;
            border-radius: 50px;
        }

        input {
            padding: 15px 20px;
            color: rgb(28, 33, 44);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            border: 1px solid rgb(217, 217, 217);
        }

        button {
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            background: rgb(209, 38, 30);
        }
    }

    span {
        margin-top: 10px;
        color: rgb(28, 33, 44);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        opacity: 0.5;
    }
}

.modal_bg {
    display: none;
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.modal.active {
    display: block;
} 

.modal_bg.active {
    display: block;
}

// header
header {
    position: relative;
    padding: 20px 0;

    .main_container {
        @include flex-center();
    }

    .mobile_menu {
        width: 66px;
        position: absolute;
        display: none;
        align-items: center;
        justify-content: center;
        left: 0;
        top: 0;
        height: 100%;
    }
    
    .mobile_menu.active {
        background: rgb(245, 245, 245);
    }

    .menu_burger {
        display: flex;
        width: 30px;
        height: 30px;
        justify-content: center;
        flex-direction: column;
        gap: 9px;

        span {
            height: 3px;
            width: 30px;
            background-color: #1C212C;
            border-radius: 12px;
            @include transition();
        }
    }

    .menu_burger.active {
        .one {
            transform: rotate(45deg) translateY(5px) translateX(4px);
        }
        .two {
            transform: rotate(-47deg) translateY(-4px) translateX(3px);
        }
    }

    .mobile_link {
        overflow: hidden;
        background: rgb(245, 245, 245);
        position: absolute;
        top: 100%;
        left: 0;
        width: 137px;
        z-index: 3;
        height: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @include transition();
    }
    
    .mobile_link.active {
        height: auto;
        padding: 20px 0 30px 0;
    }

    .nav_link {
        margin-left: 160px;
        @include flex-center();
        gap: 50px;

        a {
            color: rgb(28, 33, 44);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }
    }

    .header_contact {
        margin-left: auto;
        display: flex;
        align-items: end;
        flex-direction: column;
        a {
            color: rgb(209, 38, 30);
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
        }

        span {
            margin-right: 5px;
            display: block;
            color: rgb(28, 33, 44);
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            text-decoration-line: underline;
        }
    }
}
// header

// home 
.home {
    margin-bottom: 40px;

    .home_in {
        display: flex;
        align-items: stretch;
        gap: 20px;

    }

    .home_left {
        overflow: hidden;
        position: relative;
        flex: 4;
        padding: 92px 60px;
        border-radius: 40px;
        background: rgb(28, 33, 44);
    }

    .home_right {
        flex: 1;
        border-radius: 40px;
        padding: 40px 48px;
        background: rgb(245, 245, 245);
        display: flex;
        flex-direction: column;
        gap: 40px;

        p {
            margin-top: 10px;
            color: rgb(28, 33, 44);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }
    }

    .home_text {
        h3 {
            max-width: 480px;
            font-size: 40px;
            font-weight: 700;
            line-height: 48px;
            color: white;
            margin-bottom: 50px;

            span {
                color: rgb(209, 38, 30);
            }
        }

        button {
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            width: 212px;
            height: 60px;
            border-radius: 60px;
            background: rgb(209, 38, 30);
        }
    }

    .home_dektop_img {
        position: absolute;
        right: -260px;
        bottom: -10px;
    }

    .about_bottom_img_media {
        display: none;
    }

    .home_circle {
        position: absolute;
        top: -24px;
        right: -133px;
        width: 462px;
        height: 462px;
        filter: blur(350px);
        background: rgb(217, 217, 217);
        opacity: 0.5;
    }
}
// home 

// home_under
.home_under {
    margin-bottom: 100px;
    
    .main_container {
        display: flex;
        align-items: stretch;
        gap: 20px;
    }

    .home_under_card {

        &__left {
            position: relative;
            flex: 1;
            padding: 30px;
            border-radius: 20px;
            background: rgb(245, 245, 245);
            
            h6 {
                color: rgb(28, 33, 44);
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 17px;
            }
            
            ul {
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding-left: 20px;

                li {
                    list-style-type: disc;
                    color: rgb(28, 33, 44);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    opacity: 0.5;
                }
            }

            img {
                position: absolute;
                bottom: 5px;
                right: 10px;
            }
        }
        
        &__right {
            position: relative;
            flex: 1;
            padding: 30px;
            border-radius: 20px;
            background: rgb(209, 38, 30);

            h6 {
                margin-bottom: 17px;
                color: rgb(255, 255, 255);
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding-left: 20px;
                li {
                    list-style-type: disc;
                    color: rgb(255, 255, 255);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    opacity: 0.5;
                }
            }

            img {
                position: absolute;
                bottom: 5px;
                right: 10px;
            }
        }
    }
}
// home_under

// services
.services {
    h3 {
        color: rgb(28, 33, 44);
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 30px;
    }

    .services_in {
        display: flex;
        gap: 20px;
        align-items: stretch;
    }

    .services_left {
        border: 1px solid red;
        display: flex;
        gap: 20px;

        .services_cards {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;

            .services_card {
                flex: 1;
            }
        }
    }

    .services_card {
        border-radius: 20px;
        background: rgb(245, 245, 245);
    }

    .serives_card_text {
        p {
            color: rgb(28, 33, 44);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }

        h6 {
            color: rgb(209, 38, 30);
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 2px;
        }

        a {
            color: rgb(28, 33, 44);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            text-decoration-line: underline;
            opacity: 0.5;
        }
    }

    .services_cards {
        .services_card {
            padding: 30px;
            position: relative;

            img {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
}
// services

// about
.about {
    margin: 100px 0;
    padding: 100px 0;
    background: rgb(245, 245, 245);

    .about_top {
        margin-bottom: 100px;

        h3 {
            display: none;
            color: rgb(28, 33, 44);
            font-size: 30px;
            font-weight: 700;
            line-height: 36px;
            text-align: center;
            margin-bottom: 20px;
        }

        .about_top_in {
            display: flex;
            align-items: center;
            gap: 60px;
        }

        .about_top_right {
            flex: 1;
        }

        .about_top_left {
            flex: 1;
        }

        h6 {
            color: rgb(28, 33, 44);
            font-size: 40px;
            font-weight: 700;
            line-height: 48px;
            margin-bottom: 14px;
        }

        p {
            color: rgb(28, 33, 44);
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 10px;
            opacity: 0.5;
        }

        a {
            margin-top: 10px;
            color: rgb(209, 38, 30);
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            text-decoration-line: underline;
        }
    }

    .about_bottom {
        h3 {
            color: rgb(28, 33, 44);
            font-size: 40px;
            font-weight: 700;
            line-height: 48px;
            margin-bottom: 40px;
        }

        .about_bottom_in {
            display: flex;
            align-items: stretch;
            gap: 20px;
        }

        .about_bottom_left {
            flex: 2;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .about_bottom_right {
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex: 1;

            .about_bottom_img_desktop {
                border-radius: 20px;
                width: 100%;
                object-fit: cover;
                height: 100%;
            }

            .about_bottom_img_media {
                display: none;
                border-radius: 20px;
                width: 100%;
                object-fit: cover;
            }

            button {
                width: 100%;    
                height: 60px;
                color: rgb(255, 255, 255);
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                border: 1px solid rgb(209, 38, 30);
                border-radius: 60px;
                background: rgb(209, 38, 30);
            }
        }

        .about_card {
            position: relative;
            overflow: hidden;
            width: calc(100% / 2 - 10px);
            padding: 30px;
            border-radius: 20px;
            background: rgb(255, 255, 255);

            img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto 0;
            }

            .about_card_text {
                position: relative;
                z-index: 2;
            }

            h6 {
                color: rgb(28, 33, 44);
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 20px;
            }

            p {
                max-width: 278px;
                color: rgb(28, 33, 44);
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                opacity: .5;
            }
        }
    }
}
// about

// work_cost
.work_cost {
    h6 {
        color: rgb(28, 33, 44);
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 40px;
    }

    .work_cost_in {
        display: flex;
        flex-direction: column;

        li {
            @include flex-center();
            padding: 10px 30px;
            border-radius: 4px;
        }

        li:nth-child(odd) {
            background: rgb(245, 245, 245);
        }

        .cost {
            @include flex-center();
            gap: 60px;
            margin-left: auto;  
        }

        p {
            width: 260px;
            color: rgb(28, 33, 44);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }

        del {
            width: 90px;
            color: rgba(28, 33, 44, 0.25);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            text-decoration-line: line-through;
        }

        h6 {
            width: 90px;
            margin-right: 180px;
            color: rgb(209, 38, 30);
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            margin-bottom: 0;
        }

        a {
            color: #1C212C;
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            text-decoration: underline;
            opacity: 0.5;
        }
    }

    .work_btn {
        margin: 40px auto 0 auto;
        @include flex-full-center();
        height: 60px;
        width: 212px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        border-radius: 60px;
        background: rgb(209, 38, 30);
    }
}
// work_cost

// order_service
.order_service {
    margin: 100px 0;

    .order_service_in {
        padding: 50px 60px 60px 60px;
        border-radius: 40px;
        background: rgb(209, 38, 30);
    }

    h6 {
        color: rgb(255, 255, 255);
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 30px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }

    form {
        display: flex;
        gap: 30px;

        input,
        button {
            flex: 1;
            height: 50px;
            border-radius: 50px;
        }

        input {
            width: 100%;
            padding: 15px 20px;
            border: 1px solid rgb(217, 217, 217);
            background: rgb(255, 255, 255);
            color: rgb(28, 33, 44);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }

        input::placeholder {
            opacity: .7;
        }

        button {
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            background: rgb(28, 33, 44);
        }
    }

    span {
        margin-top: 10px;
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        opacity: .5;
    }
}
// order_service

// reviews
.reviews {
    h6 {
        color: rgb(28, 33, 44);
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 40px;
    }

    .reviews_card {
        user-select: none;
        padding: 30px;
        border-radius: 20px;
        background: rgb(245, 245, 245);

        h6 {
            color: rgb(28, 33, 44);
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 20px;
        }

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
            color: rgb(28, 33, 44);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            margin-bottom: 20px;
        }

        a {
            color: rgb(28, 33, 44);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            opacity: .5;
            text-decoration-line: underline;
        }
    }

    .reviews-pagination {
        margin-top: 20px;
        @include flex-full-center();

        .swiper-pagination-bullet {
            width: 9px;
            height: 9px;
            background-color: rgb(217, 217, 217);
        }

        .swiper-pagination-bullet-active {
            background-color: rgb(209, 38, 30); 
        }
    }
}
// reviews

// contact
.contact {

    .main_container {
        width: 100%;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
    }

    .contact_block {
        position: relative;
        z-index: 3;
        margin-top: 45px;
        width: 487px;
        padding: 60px;
        border-radius: 40px;
        background: rgb(255, 255, 255);
        
        h6 {
            color: rgb(28, 33, 44);
            font-size: 40px;
            font-weight: 700;
            line-height: 48px;
            margin-bottom: 30px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            max-width: 235px;
            address,
            a,
            p {
                color: rgb(28, 33, 44);
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
            }
        }

        .sign_up {
            margin-top: 30px;
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            border-radius: 60px;
            padding: 20px 62px;
            background: rgb(209, 38, 30);
        }
    }

    iframe {
        position: relative;
        z-index: 2;
        border: none !important;
        box-shadow: none !important;
        height: 500px;
        width: 100%;
    }
}
// contact

// partner
.partner {
    margin-bottom: 100px;
    h6 {
        max-width: 675px;
        color: rgb(28, 33, 44);
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 30px;
    }

    a {
        user-select: none;
    }

    .partner-pagination {
        margin-top: 20px;
        @include flex-full-center();

        .swiper-pagination-bullet {
            width: 9px;
            height: 9px;
            background-color: rgb(217, 217, 217);
        }

        .swiper-pagination-bullet-active {
            background-color: rgb(209, 38, 30); 
        }
    }
}
// partner

// footer
footer {
    padding: 48px 0 88px 0;
    background: rgb(28, 33, 44);

    .main_container {
        display: flex;
        align-items: start;
    }

    .footer_logo {
        width: 176px;
        height: 24px;

        img {
            width: 100%;
        }
    }

    .footer_link {
        margin-left: 130px;
        @include flex-center();
        gap: 50px;

        a {
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }
    }

    .footer_contact {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 27px;

        .footer_contact_number {
            display: flex;
            align-items: center;
            flex-direction: column;

            a {
                color: rgb(209, 38, 30);
                font-size: 16px;
                font-weight: 700;
                line-height: 19px;
            }

            span {
                color: rgb(255, 255, 255);
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                text-decoration-line: underline;
            }
        }

        address {
            text-align: right;
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }
    }
}
// footer




@import './responsive';