@font-face {
  font-family: "Noi Grotesk Fix";
  src: url(../fonts/Grotesk/NoiGroteskFix-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Noi Grotesk Fix";
  src: url(../fonts/Grotesk/NoiGroteskFix-Regular.ttf);
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noi Grotesk Fix", sans-serif;
  font-style: normal;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main_container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

header {
  margin-bottom: 200px;
  position: relative;
  padding: 20px 0;
}
header .main_container {
  display: flex;
  align-items: center;
}
header .mobile_menu {
  width: 66px;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  height: 100%;
}
header .mobile_menu.active {
  background: rgb(245, 245, 245);
}
header .menu_burger {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  flex-direction: column;
  gap: 9px;
}
header .menu_burger span {
  height: 3px;
  width: 30px;
  background-color: #1C212C;
  border-radius: 12px;
  transition: 0.2s ease;
}
header .menu_burger.active .one {
  transform: rotate(45deg) translateY(5px) translateX(4px);
}
header .menu_burger.active .two {
  transform: rotate(-47deg) translateY(-4px) translateX(3px);
}
header .mobile_link {
  overflow: hidden;
  background: rgb(245, 245, 245);
  position: absolute;
  top: 100%;
  left: 0;
  width: 137px;
  z-index: 3;
  height: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 0.2s ease;
}
header .mobile_link.active {
  height: auto;
  padding: 20px 0 30px 0;
}
header .nav_link {
  margin-left: 160px;
  display: flex;
  align-items: center;
  gap: 50px;
}
header .nav_link a {
  color: rgb(28, 33, 44);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
header .header_contact {
  margin-left: auto;
  display: flex;
  align-items: end;
  flex-direction: column;
}
header .header_contact a {
  color: rgb(209, 38, 30);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
header .header_contact span {
  margin-right: 5px;
  display: block;
  color: rgb(28, 33, 44);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration-line: underline;
}

.contact .main_container {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
}
.contact .contact_block {
  position: relative;
  z-index: 3;
  margin-top: 45px;
  width: 487px;
  padding: 60px;
  border-radius: 40px;
  background: rgb(255, 255, 255);
}
.contact .contact_block h6 {
  color: rgb(28, 33, 44);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 30px;
}
.contact .contact_block ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 235px;
}
.contact .contact_block ul address,
.contact .contact_block ul a,
.contact .contact_block ul p {
  color: rgb(28, 33, 44);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.contact .contact_block .sign_up {
  margin-top: 30px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  border-radius: 60px;
  padding: 20px 62px;
  background: rgb(209, 38, 30);
}
.contact iframe {
  position: relative;
  z-index: 2;
  border: none !important;
  box-shadow: none !important;
  height: 500px;
  width: 100%;
}

.partner {
  margin-bottom: 100px;
}
.partner h6 {
  max-width: 675px;
  color: rgb(28, 33, 44);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 30px;
}
.partner .partner-pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partner .partner-pagination .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background-color: rgb(217, 217, 217);
}
.partner .partner-pagination .swiper-pagination-bullet-active {
  background-color: rgb(209, 38, 30);
}

footer {
  padding: 48px 0 88px 0;
  background: rgb(28, 33, 44);
}
footer .main_container {
  display: flex;
  align-items: start;
}
footer .footer_logo {
  width: 176px;
  height: 24px;
}
footer .footer_logo img {
  width: 100%;
}
footer .footer_link {
  margin-left: 130px;
  display: flex;
  align-items: center;
  gap: 50px;
}
footer .footer_link a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
footer .footer_contact {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 27px;
}
footer .footer_contact .footer_contact_number {
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .footer_contact .footer_contact_number a {
  color: rgb(209, 38, 30);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
footer .footer_contact .footer_contact_number span {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration-line: underline;
}
footer .footer_contact address {
  text-align: right;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

@media only screen and (max-width: 993px) {
  .main_container {
    padding: 0 60px;
  }
  header {
    padding: 13px 0;
  }
  header .main_container {
    justify-content: space-between;
  }
  header .logo {
    height: 19px;
    width: 141px;
  }
  header .logo img {
    width: 100%;
  }
  header .nav_link {
    margin-left: auto;
    gap: 25px;
  }
  header .nav_link a {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }
  header .header_contact {
    margin-left: 0;
  }
  header .header_contact a {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
  }
  header .header_contact span {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
  }
  .contact iframe {
    height: 400px;
  }
  .contact .contact_block {
    width: 265px;
    padding: 30px;
    border-radius: 20px;
  }
  .contact .contact_block h6 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  .contact .contact_block ul {
    gap: 15px;
  }
  .contact .contact_block address,
  .contact .contact_block a,
  .contact .contact_block p {
    font-size: 14px;
    line-height: 17px;
  }
  .contact .contact_block .sign_up {
    padding: 16px 46px;
    font-size: 14px;
    line-height: 17px;
  }
  .partner h6 {
    font-size: 30px;
    line-height: 36px;
  }
  footer {
    padding: 38px 0;
  }
  footer .main_container {
    justify-content: space-between;
  }
  footer .footer_logo {
    width: 140px;
    height: 19px;
  }
  footer .footer_link {
    margin-left: 0;
    flex-direction: column;
    gap: 7px;
  }
  footer .footer_link a {
    font-size: 14px;
    line-height: 17px;
  }
  footer .footer_contact {
    margin-left: 0;
    gap: 30px;
  }
  footer .footer_contact a {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 3px;
  }
  footer .footer_contact span {
    font-size: 12px;
    line-height: 14px;
  }
  footer .footer_contact address {
    font-size: 14px;
    line-height: 17px;
  }
}
@media only screen and (max-width: 650px) {
  .main_container {
    padding: 0 20px;
  }
  header .nav_link {
    display: none;
  }
  header .mobile_menu {
    display: flex;
  }
  header .logo {
    margin-left: 60px;
  }
  .contact {
    margin-top: 60px;
  }
  .contact iframe {
    height: 217px;
  }
  .contact .main_container {
    position: static;
    margin-bottom: 60px;
  }
  .contact .contact_block {
    margin-top: 0;
    border-radius: 0;
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .contact .contact_block ul {
    margin: 0 auto;
  }
  .partner {
    margin-bottom: 60px;
  }
  .partner h6 {
    font-size: 24px;
    line-height: 29px;
  }
  footer {
    padding: 30px 0 57px 0;
  }
  footer .footer_logo {
    margin: 0 auto;
  }
  footer .footer_link {
    margin: 0 auto;
  }
  footer .footer_contact {
    margin-top: 10px;
    width: 100%;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
  footer .footer_contact .footer_contact_number {
    order: 2;
  }
  footer .footer_contact address {
    max-width: 137px;
    text-align: left;
    order: 1;
  }
  footer .main_container {
    flex-direction: column;
    gap: 30px;
  }
}/*# sourceMappingURL=style.css.map */