@font-face {
  font-family: "Noi Grotesk Fix";
  src: url(../fonts/Grotesk/NoiGroteskFix-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Noi Grotesk Fix";
  src: url(../fonts/Grotesk/NoiGroteskFix-Regular.ttf);
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noi Grotesk Fix", sans-serif;
  font-style: normal;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main_container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.modal {
  display: none;
  max-width: 407px;
  z-index: 5;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 40px;
  background: rgb(255, 255, 255);
}
.modal .modal_close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.modal h6 {
  color: rgb(28, 33, 44);
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin-bottom: 10px;
}
.modal p {
  color: rgb(28, 33, 44);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  margin-bottom: 20px;
}
.modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal form input,
.modal form button {
  height: 40px;
  border-radius: 50px;
}
.modal form input {
  padding: 15px 20px;
  color: rgb(28, 33, 44);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  border: 1px solid rgb(217, 217, 217);
}
.modal form button {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  background: rgb(209, 38, 30);
}
.modal span {
  margin-top: 10px;
  color: rgb(28, 33, 44);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  opacity: 0.5;
}

.modal_bg {
  display: none;
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modal.active {
  display: block;
}

.modal_bg.active {
  display: block;
}

header {
  position: relative;
  padding: 20px 0;
}
header .main_container {
  display: flex;
  align-items: center;
}
header .mobile_menu {
  width: 66px;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  height: 100%;
}
header .mobile_menu.active {
  background: rgb(245, 245, 245);
}
header .menu_burger {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  flex-direction: column;
  gap: 9px;
}
header .menu_burger span {
  height: 3px;
  width: 30px;
  background-color: #1C212C;
  border-radius: 12px;
  transition: 0.2s ease;
}
header .menu_burger.active .one {
  transform: rotate(45deg) translateY(5px) translateX(4px);
}
header .menu_burger.active .two {
  transform: rotate(-47deg) translateY(-4px) translateX(3px);
}
header .mobile_link {
  overflow: hidden;
  background: rgb(245, 245, 245);
  position: absolute;
  top: 100%;
  left: 0;
  width: 137px;
  z-index: 3;
  height: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 0.2s ease;
}
header .mobile_link.active {
  height: auto;
  padding: 20px 0 30px 0;
}
header .nav_link {
  margin-left: 160px;
  display: flex;
  align-items: center;
  gap: 50px;
}
header .nav_link a {
  color: rgb(28, 33, 44);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
header .header_contact {
  margin-left: auto;
  display: flex;
  align-items: end;
  flex-direction: column;
}
header .header_contact a {
  color: rgb(209, 38, 30);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
header .header_contact span {
  margin-right: 5px;
  display: block;
  color: rgb(28, 33, 44);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration-line: underline;
}

.home {
  margin-bottom: 40px;
}
.home .home_in {
  display: flex;
  align-items: stretch;
  gap: 20px;
}
.home .home_left {
  overflow: hidden;
  position: relative;
  flex: 4;
  padding: 92px 60px;
  border-radius: 40px;
  background: rgb(28, 33, 44);
}
.home .home_right {
  flex: 1;
  border-radius: 40px;
  padding: 40px 48px;
  background: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.home .home_right p {
  margin-top: 10px;
  color: rgb(28, 33, 44);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.home .home_text h3 {
  max-width: 480px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: white;
  margin-bottom: 50px;
}
.home .home_text h3 span {
  color: rgb(209, 38, 30);
}
.home .home_text button {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  width: 212px;
  height: 60px;
  border-radius: 60px;
  background: rgb(209, 38, 30);
}
.home .home_dektop_img {
  position: absolute;
  right: -260px;
  bottom: -10px;
}
.home .about_bottom_img_media {
  display: none;
}
.home .home_circle {
  position: absolute;
  top: -24px;
  right: -133px;
  width: 462px;
  height: 462px;
  filter: blur(350px);
  background: rgb(217, 217, 217);
  opacity: 0.5;
}

.home_under {
  margin-bottom: 100px;
}
.home_under .main_container {
  display: flex;
  align-items: stretch;
  gap: 20px;
}
.home_under .home_under_card__left {
  position: relative;
  flex: 1;
  padding: 30px;
  border-radius: 20px;
  background: rgb(245, 245, 245);
}
.home_under .home_under_card__left h6 {
  color: rgb(28, 33, 44);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 17px;
}
.home_under .home_under_card__left ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 20px;
}
.home_under .home_under_card__left ul li {
  list-style-type: disc;
  color: rgb(28, 33, 44);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  opacity: 0.5;
}
.home_under .home_under_card__left img {
  position: absolute;
  bottom: 5px;
  right: 10px;
}
.home_under .home_under_card__right {
  position: relative;
  flex: 1;
  padding: 30px;
  border-radius: 20px;
  background: rgb(209, 38, 30);
}
.home_under .home_under_card__right h6 {
  margin-bottom: 17px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.home_under .home_under_card__right ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 20px;
}
.home_under .home_under_card__right ul li {
  list-style-type: disc;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  opacity: 0.5;
}
.home_under .home_under_card__right img {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.services {
  margin-bottom: 100px;
}
.services h3 {
  color: rgb(28, 33, 44);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 30px;
}
.services .services_in {
  display: flex;
  gap: 20px;
  align-items: stretch;
}
.services .big_card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services .big_card .serives_card_text {
  padding: 30px 30px 0 30px;
}
.services .big_card .serives_card_text p {
  max-width: 166px;
  margin-bottom: 40px;
}
.services .services_cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.services .services_cards .services_card {
  flex: 1;
}
.services .services_cards .services_card p {
  max-width: 166px;
}
.services .services_cards .services_card .img_two {
  bottom: 20px;
}
.services .services_left {
  flex: 1;
  display: flex;
  gap: 20px;
}
.services .services_right {
  flex: 1;
  display: flex;
  gap: 20px;
}
.services .services_card {
  overflow: hidden;
  border-radius: 20px;
  background: rgb(245, 245, 245);
}
.services .serives_card_text p {
  color: rgb(28, 33, 44);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.services .serives_card_text h6 {
  color: rgb(209, 38, 30);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 2px;
  margin-bottom: 2px;
}
.services .serives_card_text a {
  color: rgb(28, 33, 44);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-decoration-line: underline;
  opacity: 0.5;
}
.services .services_cards .services_card {
  padding: 30px;
  position: relative;
}
.services .services_cards .services_card img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.services .services_cards .serives_card_text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about {
  margin: 100px 0;
  padding: 100px 0;
  background: rgb(245, 245, 245);
}
.about .about_top {
  margin-bottom: 100px;
}
.about .about_top h3 {
  display: none;
  color: rgb(28, 33, 44);
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin-bottom: 20px;
}
.about .about_top .about_top_in {
  display: flex;
  align-items: center;
  gap: 60px;
}
.about .about_top .about_top_right {
  flex: 1;
}
.about .about_top .about_top_left {
  flex: 1;
}
.about .about_top h6 {
  color: rgb(28, 33, 44);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 14px;
}
.about .about_top p {
  color: rgb(28, 33, 44);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
  opacity: 0.5;
}
.about .about_top a {
  margin-top: 10px;
  color: rgb(209, 38, 30);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration-line: underline;
}
.about .about_bottom h3 {
  color: rgb(28, 33, 44);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 40px;
}
.about .about_bottom .about_bottom_in {
  display: flex;
  align-items: stretch;
  gap: 20px;
}
.about .about_bottom .about_bottom_left {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.about .about_bottom .about_bottom_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
.about .about_bottom .about_bottom_right .about_bottom_img_desktop {
  border-radius: 20px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.about .about_bottom .about_bottom_right .about_bottom_img_media {
  display: none;
  border-radius: 20px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .about_bottom .about_bottom_right button {
  width: 100%;
  height: 60px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border: 1px solid rgb(209, 38, 30);
  border-radius: 60px;
  background: rgb(209, 38, 30);
}
.about .about_bottom .about_card {
  position: relative;
  overflow: hidden;
  width: calc(50% - 10px);
  padding: 30px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
}
.about .about_bottom .about_card img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
}
.about .about_bottom .about_card .about_card_text {
  position: relative;
  z-index: 2;
}
.about .about_bottom .about_card h6 {
  color: rgb(28, 33, 44);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}
.about .about_bottom .about_card p {
  max-width: 278px;
  color: rgb(28, 33, 44);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  opacity: 0.5;
}

.work_cost h6 {
  color: rgb(28, 33, 44);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 40px;
}
.work_cost .work_cost_in {
  display: flex;
  flex-direction: column;
}
.work_cost .work_cost_in li {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  border-radius: 4px;
}
.work_cost .work_cost_in li:nth-child(odd) {
  background: rgb(245, 245, 245);
}
.work_cost .work_cost_in .cost {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-left: auto;
}
.work_cost .work_cost_in p {
  width: 260px;
  color: rgb(28, 33, 44);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.work_cost .work_cost_in del {
  width: 90px;
  color: rgba(28, 33, 44, 0.25);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-decoration-line: line-through;
}
.work_cost .work_cost_in h6 {
  width: 90px;
  margin-right: 180px;
  color: rgb(209, 38, 30);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 0;
}
.work_cost .work_cost_in a {
  color: #1C212C;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-decoration: underline;
  opacity: 0.5;
}
.work_cost .work_btn {
  margin: 40px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 212px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  border-radius: 60px;
  background: rgb(209, 38, 30);
}

.order_service {
  margin: 100px 0;
}
.order_service .order_service_in {
  padding: 50px 60px 60px 60px;
  border-radius: 40px;
  background: rgb(209, 38, 30);
}
.order_service h6 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-bottom: 20px;
}
.order_service p {
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.order_service form {
  display: flex;
  gap: 30px;
}
.order_service form input,
.order_service form button {
  flex: 1;
  height: 50px;
  border-radius: 50px;
}
.order_service form input {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid rgb(217, 217, 217);
  background: rgb(255, 255, 255);
  color: rgb(28, 33, 44);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.order_service form input::-moz-placeholder {
  opacity: 0.7;
}
.order_service form input::placeholder {
  opacity: 0.7;
}
.order_service form button {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  background: rgb(28, 33, 44);
}
.order_service span {
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  opacity: 0.5;
}

.reviews h6 {
  color: rgb(28, 33, 44);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 40px;
}
.reviews .reviews_card {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 30px;
  border-radius: 20px;
  background: rgb(245, 245, 245);
}
.reviews .reviews_card h6 {
  color: rgb(28, 33, 44);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}
.reviews .reviews_card p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  color: rgb(28, 33, 44);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 20px;
}
.reviews .reviews_card a {
  color: rgb(28, 33, 44);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  opacity: 0.5;
  text-decoration-line: underline;
}
.reviews .reviews-pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews .reviews-pagination .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background-color: rgb(217, 217, 217);
}
.reviews .reviews-pagination .swiper-pagination-bullet-active {
  background-color: rgb(209, 38, 30);
}

.engines_work h3 {
  color: rgb(28, 33, 44);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin: 100px 0 40px 0;
  max-width: 576px;
}
.engines_work .engines_card {
  height: 360px;
  position: relative;
  overflow: hidden;
  padding: 40px 30px 30px 30px;
  border-radius: 40px;
  background: rgb(245, 245, 245);
}
.engines_work .engines_card .engines_card_text {
  margin-right: 300px;
}
.engines_work .engines_card img {
  position: absolute;
  right: -120px;
  top: 8px;
}
.engines_work .engines_card h6 {
  margin-left: 30px;
  color: rgb(28, 33, 44);
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 40px;
  text-transform: capitalize !important;
}
.engines_work .engines_card .brands {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.engines_work .engines_card a {
  padding: 13px 20px;
  border-radius: 60px;
  background: rgb(255, 255, 255);
  color: rgb(28, 33, 44);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.engines_work .engines_card .title_30 {
  margin: 0 0 20px 40px;
}
.engines_work .engines_card span {
  color: rgb(28, 33, 44);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  opacity: 0.5;
  margin-top: 15px;
}
.engines_work .engines_card .mini_text {
  max-width: 227px;
}
.engines_work .engines_card .mini_text2 {
  max-width: 300px;
}
.engines_work .engines_card .mini_text3 {
  max-width: 350px;
}
.engines_work .engines_card .middle_text {
  max-width: 446px;
}
.engines_work .engines_card .long_text {
  max-width: 520px;
}
.engines_work .engines_card .mini_gap {
  gap: 10px;
}
.engines_work .engines_card .mini_gap a {
  padding: 10px 15px;
}
.engines_work .engines-pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.engines_work .engines-pagination .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background-color: rgb(217, 217, 217);
}
.engines_work .engines-pagination .swiper-pagination-bullet-active {
  background-color: rgb(209, 38, 30);
}

.contact .main_container {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
}
.contact .contact_block {
  position: relative;
  z-index: 3;
  margin-top: 45px;
  width: 487px;
  padding: 60px;
  border-radius: 40px;
  background: rgb(255, 255, 255);
}
.contact .contact_block h6 {
  color: rgb(28, 33, 44);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 30px;
}
.contact .contact_block ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 235px;
}
.contact .contact_block ul address,
.contact .contact_block ul a,
.contact .contact_block ul p {
  color: rgb(28, 33, 44);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.contact .contact_block .sign_up {
  margin-top: 30px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  border-radius: 60px;
  padding: 20px 62px;
  background: rgb(209, 38, 30);
}
.contact iframe {
  position: relative;
  z-index: 2;
  border: none !important;
  box-shadow: none !important;
  height: 500px;
  width: 100%;
}

.partner {
  margin-bottom: 100px;
}
.partner h6 {
  max-width: 675px;
  color: rgb(28, 33, 44);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 30px;
}
.partner a {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.partner .partner-pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partner .partner-pagination .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background-color: rgb(217, 217, 217);
}
.partner .partner-pagination .swiper-pagination-bullet-active {
  background-color: rgb(209, 38, 30);
}

footer {
  padding: 48px 0 88px 0;
  background: rgb(28, 33, 44);
}
footer .main_container {
  display: flex;
  align-items: start;
}
footer .footer_logo {
  width: 176px;
  height: 24px;
}
footer .footer_logo img {
  width: 100%;
}
footer .footer_link {
  margin-left: 130px;
  display: flex;
  align-items: center;
  gap: 50px;
}
footer .footer_link a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
footer .footer_contact {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 27px;
}
footer .footer_contact .footer_contact_number {
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .footer_contact .footer_contact_number a {
  color: rgb(209, 38, 30);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
footer .footer_contact .footer_contact_number span {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration-line: underline;
}
footer .footer_contact address {
  text-align: right;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

@media only screen and (max-width: 1160px) {
  .home .home_left {
    padding: 40px 40px 60px 40px;
    border-radius: 20px;
  }
  .home .home_left img {
    width: 446px;
    height: 257px;
    right: -185px;
  }
  .home .home_left .home_text h3 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 40px;
  }
  .home .home_left .home_text button {
    width: 152px;
    height: 50px;
    font-size: 14px;
  }
  .home .home_right {
    border-radius: 20px;
    padding: 20px;
    gap: 30px;
    flex-direction: row;
  }
  .home .home_in {
    flex-direction: column;
  }
  .home .home_right_card {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .home .home_right_card p {
    margin-top: 0;
    font-size: 14px;
    line-height: 17px;
  }
  .home .card_two {
    flex: 2;
  }
  .home .card_one {
    flex: 1;
  }
  .services {
    margin-bottom: 80px;
  }
  .services h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .services .services_in {
    flex-direction: column;
  }
  .services .services_cards .services_card {
    padding: 20px;
  }
  .services .services_cards .services_card p,
  .services .services_cards .services_card a {
    font-size: 14px;
    line-height: 17px;
  }
  .services .big_card .serives_card_text {
    padding: 20px 20px 0 20px;
  }
}
@media only screen and (max-width: 993px) {
  .main_container {
    padding: 0 60px;
  }
  header {
    padding: 13px 0;
  }
  header .main_container {
    justify-content: space-between;
  }
  header .logo {
    height: 19px;
    width: 141px;
  }
  header .logo img {
    width: 100%;
  }
  header .nav_link {
    margin-left: auto;
    gap: 25px;
  }
  header .nav_link a {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }
  header .header_contact {
    margin-left: 0;
  }
  header .header_contact a {
    white-space: nowrap;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
  }
  header .header_contact span {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
  }
  .contact iframe {
    height: 400px;
  }
  .contact .contact_block {
    width: 265px;
    padding: 30px;
    border-radius: 20px;
  }
  .contact .contact_block h6 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  .contact .contact_block ul {
    gap: 15px;
  }
  .contact .contact_block address,
  .contact .contact_block a,
  .contact .contact_block p {
    font-size: 14px;
    line-height: 17px;
  }
  .contact .contact_block .sign_up {
    padding: 16px 46px;
    font-size: 14px;
    line-height: 17px;
  }
  .order_service {
    margin: 80px 0;
    padding: 45px 0;
    background: rgb(209, 38, 30);
  }
  .order_service .order_service_in {
    padding: 0;
    background: transparent;
  }
  .order_service h6 {
    font-size: 30px;
    max-width: 430px;
    margin: 0 auto 10px auto;
    line-height: 36px;
  }
  .order_service p {
    font-size: 16px;
    line-height: 19px;
  }
  .order_service form {
    gap: 20px;
  }
  .order_service form input,
  .order_service form button {
    height: 40px;
    font-size: 14px;
    line-height: 17px;
  }
  .order_service span {
    font-size: 12px;
    line-height: 14px;
  }
  .partner h6 {
    font-size: 30px;
    line-height: 36px;
  }
  .reviews h6 {
    font-size: 30px;
    line-height: 36px;
  }
  .about {
    padding: 80px 0;
    margin: 80px 0;
  }
  .about .about_top {
    margin-bottom: 70px;
  }
  .about .about_top h3 {
    display: block;
  }
  .about .about_top .about_top_in {
    gap: 20px;
  }
  .about .about_top_right h6 {
    display: none;
  }
  .about .about_top_right p {
    font-size: 14px;
    line-height: 17px;
  }
  .about .about_top_right .about_text_end {
    display: none;
  }
  .about .about_bottom_in {
    align-items: start;
  }
  .about .about_bottom h3 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 30px;
  }
  .about .about_bottom .about_bottom_in {
    flex-direction: column;
  }
  .about .about_bottom .about_bottom_right .about_bottom_img_desktop {
    display: none;
  }
  .about .about_bottom .about_bottom_right .about_bottom_img_media {
    display: block;
  }
  .about .about_bottom .about_bottom_right button {
    margin: 0 auto;
    font-size: 16px;
    height: 50px;
    width: 260px;
  }
  .about .about_bottom .about_card {
    padding: 20px;
  }
  .about .about_bottom .about_card img {
    height: 110px;
  }
  .about .about_bottom .about_card h6 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
  }
  .about .about_bottom .about_card p {
    max-width: 195px;
    font-size: 14px;
    line-height: 17px;
  }
  .work_cost h6 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 30px;
  }
  .work_cost .work_cost_in li {
    padding: 10px;
  }
  .work_cost .work_cost_in p {
    width: 200px;
    font-size: 14px;
    line-height: 17px;
  }
  .work_cost .work_cost_in del {
    width: 77px;
    font-size: 14px;
    line-height: 17px;
  }
  .work_cost .work_cost_in .cost {
    gap: 50px;
  }
  .work_cost .work_cost_in a {
    font-size: 14px;
    line-height: 17px;
  }
  .work_cost .work_cost_in h6 {
    width: 77px;
    margin-right: 50px;
    font-size: 14px;
    line-height: 17px;
  }
  .work_cost .work_btn {
    margin: 20px auto 0 auto;
    height: 50px;
    width: 195px;
    font-size: 16px;
  }
  .home_under {
    margin-bottom: 80px;
  }
  .home_under .home_under_card__left,
  .home_under .home_under_card__right {
    padding: 20px;
  }
  .home_under .home_under_card__left h6,
  .home_under .home_under_card__right h6 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
  }
  .home_under .home_under_card__left ul,
  .home_under .home_under_card__right ul {
    gap: 10px;
    max-width: 178px;
  }
  .home_under .home_under_card__left ul li,
  .home_under .home_under_card__right ul li {
    font-size: 14px;
    line-height: 17px;
  }
  .home_under .home_under_card__left img,
  .home_under .home_under_card__right img {
    height: 100px;
    right: 0;
    bottom: 10px;
  }
  .engines_work h3 {
    margin: 80px 0 30px 0;
    font-size: 30px;
    line-height: 36px;
    max-width: 448px;
  }
  .engines_work .engines_card {
    border-radius: 20px;
    height: 100%;
    padding: 20px;
  }
  .engines_work .engines_card h6 {
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 20px 0;
  }
  .engines_work .engines_card .engines_card_text {
    margin-right: 150px;
  }
  .engines_work .engines_card .title_30 {
    margin: 0 0 10px 0;
  }
  .engines_work .engines_card span {
    font-size: 14px;
    line-height: 17px;
  }
  .engines_work .engines_card .brands {
    gap: 10px;
  }
  .engines_work .engines_card a {
    font-size: 14px;
    line-height: 17px;
  }
  .engines_work .engines_card img {
    height: 90%;
    right: -185px;
  }
  footer {
    padding: 38px 0;
  }
  footer .main_container {
    justify-content: space-between;
  }
  footer .footer_logo {
    width: 140px;
    height: 19px;
  }
  footer .footer_link {
    margin-left: 0;
    flex-direction: column;
    gap: 7px;
  }
  footer .footer_link a {
    font-size: 14px;
    line-height: 17px;
  }
  footer .footer_contact {
    margin-left: 0;
    gap: 30px;
  }
  footer .footer_contact a {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 3px;
  }
  footer .footer_contact span {
    font-size: 12px;
    line-height: 14px;
  }
  footer .footer_contact address {
    font-size: 14px;
    line-height: 17px;
  }
}
@media only screen and (max-width: 735px) {
  .home .home_circle {
    width: 300px;
    height: 300px;
    top: 0;
    right: 0;
  }
  .home .home_left {
    width: 100%;
    padding: 40px 40px 0 40px;
  }
  .home .home_left .home_text {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home .home_left .home_text h3 {
    margin: 0 auto 20px auto;
    max-width: 382px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
  }
  .home .home_left .home_text .sign_up {
    margin: 0 auto;
    width: 152px;
    height: 50px;
    font-size: 14px;
  }
  .home .home_left img {
    position: relative;
    width: 390px;
    right: -58px;
    height: auto;
  }
  .engines_work .engines_card {
    height: 543px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .engines_work .engines_card .engines_card_text {
    margin-right: 0;
  }
  .engines_work .engines_card img {
    margin: 0 auto;
    -o-object-fit: contain;
       object-fit: contain;
    width: 380px;
    height: 280px;
    position: static;
  }
}
@media only screen and (max-width: 650px) {
  .main_container {
    padding: 0 20px;
  }
  .modal {
    padding: 25px;
  }
  .modal h6 {
    font-size: 24px;
    line-height: 29px;
  }
  .modal input,
  .modal button {
    height: 30px;
    border-radius: 20px;
  }
  .modal p {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
  }
  .modal span {
    font-size: 12px;
  }
  header .nav_link {
    display: none;
  }
  header .mobile_menu {
    display: flex;
  }
  header .logo {
    margin-left: 60px;
  }
  .home .main_container {
    max-width: 100%;
    padding: 0;
  }
  .home .home_circle {
    width: 185px;
    height: 105px;
    top: -17px;
    right: -154px;
  }
  .home .home_in {
    gap: 0;
  }
  .home .home_left {
    border-radius: 0;
  }
  .home .home_right {
    border-radius: 0;
    gap: 25px;
    padding: 18px 15px;
  }
  .home .home_right_card {
    flex-direction: column;
    align-items: start;
  }
  .home .home_right_card img {
    width: 36px;
    height: 36px;
  }
  .home_under {
    margin-bottom: 60px;
  }
  .home_under .main_container {
    flex-direction: column;
    gap: 10px;
  }
  .home_under .home_under_card__left ul,
  .home_under .home_under_card__right ul {
    margin-right: 100px;
    max-width: 280px;
  }
  .work_cost h6 {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 22px;
  }
  .work_cost .work_cost_in .cost {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
  .work_cost .work_cost_in h6 {
    margin-right: 40px;
  }
  .work_cost .work_cost_in p {
    width: 146px;
  }
  .work_cost .work_btn {
    font-size: 14px;
  }
  .reviews h6 {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }
  .reviews .reviewsSwiper {
    overflow: visible;
  }
  .reviews .reviews_card {
    padding: 20px;
  }
  .reviews .reviews_card h6 {
    height: 38px;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
  }
  .reviews .reviews_card p {
    -webkit-line-clamp: 9;
    font-size: 14px;
    line-height: 17px;
  }
  .reviews .reviews_card a {
    font-size: 14px;
    line-height: 17px;
  }
  .contact {
    margin-top: 60px;
  }
  .contact iframe {
    height: 217px;
  }
  .contact .main_container {
    position: static;
    margin-bottom: 60px;
  }
  .contact .contact_block {
    margin-top: 0;
    border-radius: 0;
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .contact .contact_block ul {
    margin: 0 auto;
  }
  .order_service {
    margin: 60px 0;
    padding: 40px 0;
  }
  .order_service h6 {
    font-size: 24px;
    line-height: 29px;
  }
  .order_service p {
    margin-bottom: 10px;
  }
  .order_service form {
    flex-direction: column;
    gap: 10px;
  }
  .order_service form input,
  .order_service form button {
    flex: auto;
  }
  .order_service form button {
    display: block;
    height: 40px;
  }
  .partner {
    margin-bottom: 60px;
  }
  .partner h6 {
    font-size: 24px;
    line-height: 29px;
  }
  .about {
    padding: 60px 0;
    margin: 60px 0;
  }
  .about .about_top {
    margin-bottom: 50px;
  }
  .about .about_top .about_top_in {
    flex-direction: column-reverse;
  }
  .about .about_top .about_bottom_left,
  .about .about_top .about_bottom_right {
    flex: auto;
    width: 100%;
  }
  .about .about_top .about_bottom_left img {
    width: 100%;
  }
  .about .about_top h3 {
    font-size: 24px;
    line-height: 29px;
  }
  .about .about_bottom h3 {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }
  .about .about_bottom .about_bottom_in {
    gap: 10px;
  }
  .about .about_bottom .about_bottom_left {
    gap: 10px;
    flex-direction: column;
  }
  .about .about_bottom .about_bottom_left .about_card {
    width: 100%;
  }
  .about .about_bottom .about_bottom_left .about_card p {
    max-width: 290px;
  }
  .about .about_bottom .about_bottom_right button {
    font-size: 14px;
  }
  footer {
    padding: 30px 0 57px 0;
  }
  footer .footer_logo {
    margin: 0 auto;
  }
  footer .footer_link {
    margin: 0 auto;
  }
  footer .footer_contact {
    margin-top: 10px;
    width: 100%;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
  footer .footer_contact .footer_contact_number {
    order: 2;
  }
  footer .footer_contact address {
    max-width: 137px;
    text-align: left;
    order: 1;
  }
  footer .main_container {
    flex-direction: column;
    gap: 30px;
  }
}
@media only screen and (max-width: 430px) {
  header .logo {
    margin-left: 45px;
  }
  header .mobile_menu {
    width: 55px;
  }
  .work_cost .work_cost_in h6 {
    margin-right: 15px;
  }
}/*# sourceMappingURL=style.css.map */